@font-awesome: FontAwesome, "Helvetica Neue", Arial, Sans-Serif;
@background-image: #333344 url('/image/concrete_wall.jpg');
@font-color: #e8faff;
@red-color: #ff5c65;

body {
  background: @background-image;
  padding-top: 20px;
  font-family: @font-awesome;
  color: @font-color;
}

a {
  color: #97d1ff;
}

a:hover {
  color: #51e1ff;
}

section {
  padding: 20px;
}

.red {
 color: @red-color;
}

.emphasis {
 font-size: 52px;
}

h1 {
  font-size: 54px;
}

h1, h2, h3, h4, h5, h6, p {
  color: @font-color
}

#login-buttons {
  font-family: @font-awesome;
}

textarea {
  background-color: @font-color;
}

// TRBL
input[type="checkbox"] {
  margin: 0 0 2px 0;
}
.checkbox-label {
  cursor: hand;
  cursor: pointer;
  padding: 10px 0 0 0;

  span {
    padding: 0 0 0 5px;
  }
}



