@font-awesome: FontAwesome, "Helvetica Neue", Arial, Sans-Serif;
@font-cursive: "Great Vibes", cursive;
@base-font-color: white;
@accent-color: #ff0080;
@h-color: @base-font-color * .25;
@p-color: @base-font-color * .1;
@font-color: @base-font-color * 0;
@background-image: white url('/image/lightpaperfibers.jpg');
@background-image-div: @h-color url('/image/black_paper.jpg');

// *** Begin Elements ***

body {
  background: @background-image;
  font-family: @font-awesome;
  color: @font-color;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: @h-color;
  font-weight: bold;
}

p {
  color: @p-color;
}

a {
  color: @p-color;
}

a:hover {
  color: @accent-color;
}

header {

  /* Large desktop */
  @media (min-width: 1200px) {

  }
   
  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {

  }
   
  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {

  }
   
  /* Landscape phones and down */
  @media (max-width: 480px) {

  }

  overflow: hidden;
  margin: 0 0 0 0;
  height: 25%;
  font-family: @font-cursive;

  div {
    overflow: hidden;
    border: none;
  }
  
  .greeting {
    line-height: 1em;
    color: #FFFFFF * .99;
  }

  .title {
    text-align: center;
    line-height: 1em;
    color: @accent-color;
    // font-weight: bold;
  }

  .black-bar {
    width: 100%;
    background: @background-image-div;
  }

  .top-bar {
    height: 25%;
  }

  .mid-bar {
    height: 60%;
  }

  .bot-bar {
    height: 15%;
  }
}

section {
  padding: 0 0 0 20px;

  h1 {
    padding: 0 0 10px 0;
  }

  ul {
    padding: 5px;
    list-style: none;
  }
}

// *** End Elements ***

// **** Begin Sections ****

#artists {

  li {
    padding: 0 0 10px 0;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #CCC;

    h4 {
      padding: 0 0 20px 0;
    }

    .title {
      color: @accent-color;
      font-family: @font-cursive;
      font-size: 40px;
      padding: 0 0 10px 0;
      vertical-align: bottom;

      .quote {
        position: relative;
        top: 35px;
        font-size: 80px;
      }
    }

    .description {
      padding: 10px 0 0 50px;
    }
  }
}

#details {
  
}

#profile {

  .profile-form {
    padding: 20px 0 0 0;
  }
  
}

// **** End Sections ****

// *** Begin Classes ***

.red {
 color: @accent-color;
}

.bold {
  font-weight: bold;
}

.uppercase {
 text-transform: uppercase;
}

.left {
  text-align: left; 
}

.right {
  text-align: right; 
}

.emphasis {
 font-size: 52px;
}

// *** End Classes ***

// *** Begin Forms ***

#login-buttons {
  font-family: @font-awesome;
  padding: 0 15px 0 15px;
  margin: 8px 0 0 0;
}

input[type="checkbox"] {
  margin: 0 0 2px 0;
}

.checkbox-label {
  cursor: hand;
  cursor: pointer;
  padding: 10px 0 0 0;

  span {
    padding: 0 0 0 5px;
  }
}

// *** End Forms ***



