<template name="profile">

  <h1>
    Your Project Profile
  </h1>
  <p>
    {{#if state.unknown}}
      Sign in above, and begin managing your profile..
    {{/if}}
    {{#if state.unverified}}
      Please check your email to verify your account.
    {{/if}}
    {{#if state.verified}}
      Use the form below to share details about your project.
    {{/if}}
  </p>

  {{#if state.verified}}
    {{> profileForm}}
  {{/if}}

</template>

<template name="profileForm">

  <div class="profile-form">

    <form class="form-horizontal">

      <div class="control-group">
        <label class="control-label" for="project-title">Name</label>
        <div class="controls">
          <input type="text" id="project-title" placeholder="Black Velvet Elvis" value="{{user.profile.project.title}}">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="project-description">Description</label>
        <div class="controls">
          <textarea rows="3" id="project-description" placeholder="On a pitch black night, The King returns to Earth in a UFO made of hamburger...">{{user.profile.project.description}}</textarea>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="project-description">Link</label>
        <div class="controls">
          {{> profileLink}}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="project-requirements">Requirements</label>

        {{#each requirements}}
          <div class="controls checkbox-container">
            <label class="checkbox-label">
              <input class="checkbox" type="checkbox" {{#if active}}checked{{/if}}><span>{{question}}</span>
            </label>
            <textarea rows="3" placeholder="{{placeholder}}" {{#unless active}}disabled{{/unless}}>{{text}}</textarea>
          </div>
        {{/each}}
        
      </div>
      <div class="control-group">
        <div class="controls">
          {{> profileSaveButton}}
        </div>
      </div>
    </form>

  </div>

</template>

<template name="profileLink">
  <div class="input-prepend input-append">
    <span class="add-on">http://</span>
    <input class="link span6" type="text" id="project-link" placeholder="www.hasleft.thebuildi.ng" value="{{user.profile.project.link}}">
    <button id="clear-link" type="button" class="btn" {{disabled.state}}>Clear</button>
  </div>
</template>

<template name="profileSaveButton">
  <button id="save-project" type="submit" class="btn btn-large btn-success icon-file" {{disabled.state}}> Save</button>
</template>
